body {
    font-family: 'Roboto', system-ui;
    background-color: white;
    margin: 0;
    padding: 0;
    place-items: center;
    width: 100%;
    height: 100%;
}

a {
    line-height: 0;
    text-decoration: inherit;
}